<header class="modal-header text-bg-dark">
    <div class="row w-100">
        <div class="col-11">
            <h3 class="modal-title">{{'AddProduct' | translate}}</h3>
        </div>
       
        <div class="col-1 justify-content-end text-end" *ngIf="!inEditMode">
            <button type="button" class="btn p-0 close" data-dismiss="alert" (click)="cancel()">
                &times;
            </button>
        </div>
    </div>
</header>


<div class="modal-body">
    <form
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="form-group">
      <label for="title">{{'Title' | translate}}</label>
      <input
        type="text"
        class="form-control"
        name="title"
        placeholder="{{'Title' | translate}}"
        [(ngModel)]="form.title"
        required
        #title="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && title.errors }"
      />
      <div *ngIf="title.errors && f.submitted" class="invalid-feedback">
        {{'TitleRequired' | translate}}
      </div>
    </div>
    <div class="form-group">
      <label for="description">{{'Description' | translate}}</label>
      <textarea
        type="text"
        class="form-control"
        name="description"
        placeholder="{{'Description' | translate}}"
        [(ngModel)]="form.description"
        required
        minlength="10"
        maxlength="200"
        #description="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && description.errors }"
      ></textarea>
      <div *ngIf="description.errors && f.submitted" class="invalid-feedback">
        <div *ngIf="description.errors['required']">description is required</div>
        <div *ngIf="description.errors['minlength']">
          description must be at least 10 characters
        </div>
        <div *ngIf="description.errors['maxlength']">
            description exceed maximum length
          </div>
      </div>
    </div>

    <div class="form-group">
        <label for="price">{{'Price' | translate}}</label>
        <input
          type="number"
          class="form-control"
          name="price"
          placeholder="{{'Price' | translate}}"
          [(ngModel)]="form.price"
          required
          #price="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && price.errors }"
        />
        <div *ngIf="price.errors && f.submitted" class="invalid-feedback">
          {{'PriceRequired' | translate}}

        </div>
      </div>

      <div class="form-group">
        <label for="category">{{'Category' | translate}}</label>
        <select class="form-select" #category="ngModel" required aria-label="Category"  [(ngModel)]="form.category" name="category">
            <option *ngFor="let cat of allCategories" value="{{cat}}" >{{cat}}</option>
          </select>

        <div *ngIf="category.errors && f.submitted" class="invalid-feedback">
            {{'TitleRequired' | translate}}
        </div>
      </div>

      <button class="btn btn-primary btn-block w-100" [disabled]="loading">
        <span *ngIf="!inEditMode">{{'AddProduct' | translate}}</span>
        <span *ngIf="inEditMode">{{'UpdateProduct' | translate}}</span>
      
      </button>

  </form>
  </div>




